.project_card {
  background-color: var(--color-card-bg) !important;
  border: 1px solid var(--color-card-border) !important;

  div,
  span,
  svg {
    background-color: var(--color-card-bg) !important;
    color: var(--color-text) !important;
  }
}

// overrides
.ant-card-cover {
  border-radius: 10px;

  img {
    object-fit: cover;
    object-position: center;
  }
}

.ant-card-actions {
  background-color: var(--color-card-bg) !important;
  border-top: 0.5px solid var(--color-card-border) !important;
}
