.container {
    font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
    color: #fff;
    margin: 0;
    background-color: #356888 !important;
    text-align: center;
    width: 600px;
    padding-top: 100px;
    margin: 0 auto;
    height: 100%;
    overflow: scroll;
}

.colon, .time {
    font-size: 100px;
}

.clock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.optimization {
    margin: 150px auto 50px;
}

.optimisation-heading {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.optimisation-list li {
    padding: 10px 0;
    line-height: 1.5;
    text-align: left;
    font-size: 18px;
}