.skills_list-wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
}

.skills_list {
    display: flex;
    column-gap: 20px;
    align-items: flex-end;
    justify-content: space-around;
    z-index: 100;
    height: 25px;

    i {
        display: block;
        // color: #ddd0c3; old value
        // slightly higher value for better contrast
        color: #ceb499; 
    }
}

@media screen and (max-width: 1024px) {
    .skills_list {
        display: grid;
        grid-template-columns: auto auto auto auto;
        
        i {
            padding: 24px;
            text-align: center;
        }
    }
  }