.contact {
    margin: 20vh auto;
    text-align: center;
    font-family: var(--font-nav);

    h1 {
        font-weight: 200;
        color: var(--color-link);
    }

    .social_icons {
        margin: auto;
    }
}