.header {
  width: 100%;
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: inherit;
  font-family: var(--font-nav);
}

.nav_link {
  font-size: 14px;
  text-decoration: none;
  font-family: var(--font-nav);

  &:after {
    content: "";
    display: block;
    height: 1.5px;
    margin-top: 2px;
    background: var(--color-text);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
  }

  &:hover::after {
    transform: scaleX(1);
    transition: transform 0.3s;
    transform-origin: left;
  }
}

.active {
  color: var(--color-text) !important;

  &:after {
    transform: scaleX(1);
    transition: transform 0.3s;
    transform-origin: left;
  }
}

@media screen and (min-width: 320px) {
  .header {
    width: 90vw;
  }
}

@media screen and (min-width: 460px) {
  .header {
    width: 80vw;
  }

  .nav_link {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 60vw;
  }

  .nav_link {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    width: 65vw;
    max-width: 800px;
    padding: 50px 0;
  }

  .nav_link {
    font-size: 24px;
  }
}
