.social_icon {
    display: block;
    width: 20px;
}

@media screen and (min-width: 1024px) {
    .social_icon {
        width: 30px;
    }
} 

/* <a> tag is display inline by default.
The display: inline property prevents height/width from having an effect.
Try setting display to something other than inline. */