.error {
  margin: 20vh auto;
  text-align: center;
  font-family: var(--font-heading);

  h1 {
    font-weight: 300;
    letter-spacing: 3px;
  }

  h3 {
    font-weight: 300;
  }

  .social_icons {
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .error {
    h1 {
      font-size: 54px;
    }
  }
}
