body, html {
  margin: 0;
}

* {
  background-color: #F8EDE3;
  color: #875c3e;
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 320px) {
  .routes {
      height: calc(100vh - 74px);
  }
}

@media screen and (min-width: 1024px) {
  .routes {
      height: calc(100vh - 114px);
  }
}