@import './theme/theme-variables.css';
@import './theme/theme-transition.css';
@import './theme/poetcore.css';

body, html {
  margin: 0;
  font-family: var(--font-body);
}

* {
  background-color: var(--color-bg);
  color: var(--color-text);
  scrollbar-width: none;           /* Firefox */
  -ms-overflow-style: none;        /* IE/Edge */
}
*::-webkit-scrollbar {
  display: none;                   /* Chrome/Safari/Opera */
}

ul {
  list-style-type: none;
}

.app-content-enter {
  position: relative;
  min-height: 100vh;
}

@media screen and (min-width: 320px) {
  .routes {
      height: calc(100vh - 74px);
  }
}

@media screen and (min-width: 1024px) {
  .routes {
      height: calc(100vh - 114px);
  }
}
