.homepage_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage {
    margin: 0 auto;
    text-align: center;
    
}

.text-image {
    margin-top: 20vh;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 320px) {
    .homepage {
        width: 90vw;
        height: calc(100vh - 74px);
    }
}

@media screen and (min-width: 460px) {
    .homepage {
        width: 80vw;
    }
  }

@media screen and (min-width: 768px) {
    .homepage {
        width: 60vw;
    }
}

@media screen and (min-width: 1024px) {
    .homepage {
        width: 65vw;
        max-width: 800px;
        height: calc(100vh - 114px);
    }
}