.designation {
  margin-top: 20vh;
  text-align: left;

  h1,
  h2 {
    color: var(--color-link);
    font-family: var(--font-heading);
    font-weight: var(--fw-heading-primary);
    letter-spacing: 1px;
    line-height: 1.2;
  }

  h1 {
    font-family: var(--font-nav);
  }

  h2 {
    font-family: var(--font-heading-alt, var(--font-heading));
  }

  .designation_an {
    font-family: var(--font-nav);
    text-transform: lowercase;
    color: inherit;
  }

  .designation_name {
    font-weight: 300;
    color: inherit;
  }

  .designation_role {
    font-weight: 200;
    color: inherit;
  }

  @media screen and (min-width: 320px) {
    h1 {
      font-size: 14px;
    }

    h2 {
      font-size: 12px;
    }
  }

  @media screen and (min-width: 460px) {
    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 768px) {
    h1 {
      font-size: 32px;
      //   margin-bottom: 30px;
    }

    h2 {
      font-size: 24px;
    }
  }

  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 40px;
      //   margin-bottom: 40px;
    }

    h2 {
      font-size: 32px;
    }
  }
}
