.designation {
  margin-top: 20vh;
  text-align: left;

  h1,
  h2 {
    color: #a38a79;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.2;
  }

  .designation_name {
    font-weight: 300;
  }

  .designation_role {
    font-weight: 200;
  }

  @media screen and (min-width: 320px) {
    h1 {
      font-size: 14px;
    }

    h2 {
      font-size: 12px;
    }
  }

  @media screen and (min-width: 460px) {
    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 768px) {
    h1 {
      font-size: 32px;
    //   margin-bottom: 30px;
    }

    h2 {
      font-size: 24px;
    }
  }

  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 40px;
    //   margin-bottom: 40px;
    }

    h2 {
      font-size: 32px;
    }
  }
}
